@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply overflow-x-hidden;
  }

  p {
    @apply mb-0;
  }

  * {
    @apply border-0 border-solid border-gray-300;
  }
}

@layer components {
  .header-divine {
    @apply mx-6 mb-4 h-0 flex-none border-0 border-b border-solid border-gray-200;
  }
}

.ant-page-header-heading-sub-title {
  @apply hidden md:inline;
}

.ant-table-custom {
  .ant-spin-nested-loading,
  .ant-spin-container,
  .ant-table-container {
    height: 100%;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: column;

    .ant-table {
      overflow-y: auto;
    }
    .ant-pagination {
      flex: none;
    }
  }

  .ant-table-body {
    max-height: calc(100% - 55px);
  }
}
